<div class="container">
    <div class="row about">
        <div class="col-md-10 col-md-offset-1">
            <h1>ABOUT</h1>

            <div class="col-md-6 col-sm-6">
                <p>My name is Allon Jacobs and I’m an instrument rated private pilot in California. I attribute my
                    flying
                    addiction to my dad who let me ride along as he was doing unusual attitudes in a Cessna 210 over Los
                    Angeles when I was just a few years old. A few decades later, I found an opportunity to pour every
                    last
                    cent from my summer construction job into flight lessons at the University of California, Davis.
                    Sound
                    familiar?</p>
                <br/>
                <p>More recently, I realized when traveling domestically and internationally that I was having
                    difficulty
                    finding other pilots to speak with and challenged with discovering new flying experiences. On one
                    occasion, it literally took a referral from a surf shop owner, a broken conversation in Spanish with
                    a
                    bartender, a wild goose chase to unmarked beaches, and all to find some flying ultralight pilot that
                    was
                    rumored to give flights over Costa Rica. That's what sparked the idea to create a community where
                    people
                    could find one another and connect.</p>
                <br/>
                <p>Pilot Connect is a site for pilots to find the hidden gems of flight experiences waiting to be
                    uncovered, to expand connections with one another, as a forum to ask questions, and get inspired
                    with
                    great stories. Whether you’re going to Montana and want to take a shot at flying float planes,
                    offering
                    advice on how to clear the challenging airspace in your area, giving a local flight tour of your
                    city,
                    or even finding a Safety Pilot, this is your one stop shop.</p>
                <br/>
                <p>Any and all feedback is welcome on our <a href="#/contact">Contact Us</a> page. Seriously, while it
                    can sometimes take some time, I read every single submission!</p>
                <br/>
            </div>
            <div class="col-md-6 col-sm-6 photo">
                <img src="images/about.jpg"/>
            </div>
        </div>

    </div>

</div>
