<div class="modal-header padding">
  <button type="button" class="close" ng-click="$close()">
    <span aria-hidden="true">×</span>
    <span class="sr-only">Close</span>
  </button>
  <div class="readReviewHeader">
    <div><h5>{{pilot.profile.login || pilot.profile.name}}</h5></div>
    <div><h6>{{pilot.place.location}}</h6></div>

    <div class="des_rating" ng-if="reviews">
      <span class="des_count black">{{average | number : 1 }}</span>
      <span class="des_stars ">
        <span star-rating height="16" ratings="average" read-only="true" max-rating="5"></span>
      </span>
      <span class="des_count black">{{reviews.length}} Reviews</span>
    </div>
    </div>
</div>

<!-- <div class="modal-body modal-simplelogin"> -->
<div class="modal-body">
  <hr>
  <div class="allReviews">
    <div ng-repeat="review in reviews" class="readReview">
      <span style="width: 20%;">
        <img class="user-profile-photo" ng-src="{{review.senderImage || 'images/
        user-01.png'}}"/>
      </span>
      <span style="width: 80%;">
        <div>{{review.sender}}</div>
        <div class="" star-rating height="20" ratings="review.rating" read-only="true" max-rating="5"></div>
        <div class="read_review">{{review.review}}</div>
      </span>
    </div>
  </div>

</div>
