<div class="modal-header">
    <button type="button" class="close" ng-click="$close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
</div>

<div class="modal-body modal-simplelogin">

    <form class="simpleLoginForm" novalidate name="loginForm" ng-submit="simpleLogin(user)">

        <div class="item">
            <input class="forminput" name="txtemail" ng-required="true" type="email" ng-model="user.email" placeholder="Email"
                   ng-minlength="5"
                   ng-maxlength="30"
                   required>
        </div>
        <div class="item">

            <input class="forminput" name="txtPassword" ng-required="true" type="password" ng-model="user.password" placeholder="Password"
                   ng-minlength="5"
                   ng-maxlength="30"
                   required>

        </div>
        <div class="item">
            <input type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block" value="Sign-In"/>
        </div>


        <div class="item">
            <p class="text-center ">
                
                <a ng-click="openForgotPasswordModal()" class="loginbtns ">Forgot password?</a>
                <!-- <a ng-click="openForgotPasswordModal()" class="loginbtns left">Forgot password?</a> -->
                <!-- <a ng-click="openRegisterModal()" class=" loginbtns right">Register</a> -->
            </p>
        </div>
    </form>



</div>
